    * {
        margin: 0;
        padding: 0;
        
    }
    
    ::-webkit-scrollbar {
        background-color: rgb(255, 255, 255);
        width: 5px;
    }    
    ::-webkit-scrollbar-thumb {
        background-color: rgb(0, 31, 134);
        border-radius: 100px 100px 100px 100px;
    }

    .header {
        background-image: url('../img/rdhead.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 1200px;
        height: 120px;
        margin: 2px;
    }
    
    .navbar {
        background-color: rgb(0, 52, 121);
        height: 50px;
        position: sticky;
        top: 0px;
        left: 0px;
        border: 1px solid white;
        border-radius: 6px 6px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar ul {
        list-style: none;
    }
    
    .navbar ul li {
       position: relative;
        float: left;
        top:0px;
        left: 0px;
        padding: 16px;
        padding-left: 20px;
        margin-left: 5px;

        
    }
    .navbar ul li:hover {
        background-color: rgb(31, 22, 41);
    }
    
    .navbar ul li a {   
        color: white;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
    }
    .navbar ul ul {
        display: none;
    }
    .navbar ul li ul{
     position:absolute;
     left:-4px;
     top:49px; 
    }
    .navbar ul li ul li{
        width: 150px; 
        background-color: rgb(0, 52, 121);
        height: auto;
        padding: 10px;
    }
   
    .navbar ul li:hover>ul{
        display:initial;
    
    }
  

    .content {
        height: 11.6cm;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .newsevent {
        background-color: rgba(165, 12, 12, 0);
        width: 5.4cm;
        height: 10.5cm;
        border: 10px solid rgb(102, 102, 102);
        margin-top: 4px;
        margin-left: 10px;
        position: relative;
        top: 0px;
        left: 0px;
    }
    
    .newsevent .head {
        background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.952) 0%, rgb(45, 136, 255) 40%, rgb(45, 136, 255) 60%, rgba(255, 255, 255, 0.986) 100%);
        width: auto;
        height: 0.7cm;
        margin: 10px;
    }
    
    .head h4 {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        position: inherit;
        top: 0px;
        left: 0px;
    }
    /* .newsa {
        color: rgb(0, 5, 82);
        margin-bottom: 10px;
        float: left;
        font-size: 15px;
    } */
    
    .newsevent a {
        text-decoration: none;
        color: rgb(133, 0, 27);
        font-weight: 600;
        font-family:'Times New Roman', Times, serif;
    }
    
    .utubelink .head {
        background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.952) 0%, rgb(45, 136, 255) 40%, rgb(45, 136, 255) 60%, rgba(255, 255, 255, 0.986) 100%);
        width: auto;
        height: 0.7cm;
        margin: 10px;
    }
    
    .utubelink {
        background-color: rgb(255, 255, 255);
        width: 5.4cm;
        height: 10.5cm;
        border: 10px solid rgb(102, 102, 102);
        margin-top: 4px;
        margin-right: 10px;
    }
    .youtubev iframe{
        border-radius: 5px;
        border: 2px solid black;
        margin-bottom: 30px;
    }
    .slideshow {
        background-color: rgb(236, 236, 236);
        width: 20cm;
        height: 11.5cm;
        border-radius: 19px 19px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .slideshow .slimage {
        background-image: url('../img/slide.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 580px;
        height: 450px;
    }
    /* .youtubev{
        height: 3px;
        width: 10px;
        background-color: red;
        border: 2px;

    } */
    .navbar2 {
        height: 46px;
        position: sticky;
        top: 0px;
        left: 0px;
        border: 1px solid white;
        border-radius: 6px 6px;
        width: 600px;
        margin: 14px;
    }
    
    .navbar2 ul {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .navbar2 ul li {
        list-style: none;
        background-color: rgb(0, 26, 143);
        margin: 10px;
        padding: 11px;
        border-radius: 7px 7px;
        cursor: pointer;
    }
    
    .navbar2 ul li:nth-child(1) {
        background-image: linear-gradient(45deg, rgb(0, 0, 165), rgb(0, 225, 255));
        animation: animate 0.7s linear infinite;
    }
    
    @keyframes animate {
        0% {
            background-image: linear-gradient(45deg, rgb(0, 0, 165), rgb(0, 225, 255));
        }
        50% {
            background-image: linear-gradient(360deg, rgb(0, 0, 165), rgb(0, 225, 255));
        }
        100% {
            background-image: linear-gradient(-45deg, rgb(0, 0, 165), rgb(0, 225, 255));
        }
    }
    
    .navbar2 ul li a {
        list-style: none;
        color: white;
        text-decoration: none;
        font-size: 16px;
    }


    .imgblue{
        background-color: rgb(0, 52, 121);
        width: auto;
        height: 500px;
        margin: 1px;
        padding: 20px;
        display: flex;
        justify-content: center;
        
    }
.ott{
    background-color: rgba(180, 43, 43, 0);
    width: 300px;
    height: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ott h3{
    text-align: center;
    color: white;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
.ott img{
    width: 270px;
    height: 165px;
    border-radius: 11px;
    margin: 13px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    transition: 0.8s ease;
}
.ott iframe{
    width: 270px;
    height: 165px;
    border-radius: 11px;
    margin: 13px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
}
.ott img:hover{
    transform: scale(1.04);  
    border: 2px solid rgb(0, 0, 0);
    
}
.ourreq{
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 230px;
}

.ourreq h1{
  
    color: blue;
    text-shadow: 2px 1px 3px rgb(0, 0, 0);
    
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding: 50px 60px 20px 60px ;
}
.rec{
    
    width: auto;
    height: 100px;
}
.rec img{
    width: 100px;
    height: 60px;
    margin: 10px;
}
.bottom{
    background-color: rgb(49, 86, 196);
    width: auto;
    height: 280px;
}
.bottom h4{
    font-size: 30px;
    color: white;
    font-family: serif;
    text-align: center;
    padding-top: 40px;
}
.socialmedia{
  
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    
}
.socialmedia img{
    border: 16px solid rgba(38, 36, 156, 0.527);
    border-radius: 10px;
    background-color: rgba(38, 36, 156, 0.527);
    cursor: pointer;
    margin-left: 100px;
    margin-right: 100px;
    
}
.fup{
  
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
}
.fup h5{
 
    text-align: center;
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin-left: 55px;
    margin-right: 55px;
}
.fup a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.fup a:hover{
    color: rgb(0, 0, 0);
    transition: 0.6s ease;
}
.bot{
    background-color: rgb(0, 0, 0);
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bot h5{
    font-family: Arial;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: 400;
}
.map{
    background-color: rgb(255, 255, 255);
    height: 298px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 5px solid rgb(114, 0, 0);
    border-bottom: 5px solid rgb(114, 0, 0);
   

}
.map iframe{
    border-radius: 50px;
    border: 4px solid rgb(114, 0, 0);
    box-shadow: 0px 0px 10px black;
    padding: 2px;
    margin-left: 70px;
    
}
.map h1{
    color: rgb(114, 0, 0);
    font-size: 90px;
    padding-left: 100px;
    text-shadow: 2px 2px 6px rgb(206, 185, 0);
}